body {
    font-family: 'Roboto',sans-serif;
    background: linear-gradient(90deg, white 60%, #FFCEAE 30%);
    background-repeat: no-repeat;
    overflow: hidden;
    /* max-height: 100vh; */
}
a {
    text-decoration: none;
    color: rgba(0,0,0, 0.8);
}
input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: medium;
}
form {
    /* margin-top: 50px; */
    margin-bottom: 225px;
}
.content {
    height: 550px;
    width: 500px;
    margin-top: 150px;
    margin-left: 200px;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);;
    /* border: 1px solid whitesmoke; */
    border-radius: 10px;
}
.inner-content {
    padding: 10px 50px;
}
#logo {
    font-size: xx-large;
    color: #F47458;
}
#sign-in {
    margin-top: 0px;
    font: bold;
    font-size: xx-large;
}
.input-details {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}
input {
    background-color: #FFF6F4;
    padding: 16px ;
    border: none;
    border-radius: 4px;
}
.input-parameter {
    margin-top: 8px;
}
.btn-class {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    color: white;
    font-size:larger;
    font-weight: 700;
    background-color: #F47458;
    cursor:pointer;
    padding: 12px 28px;
    border: none;
    border-radius: 20px;
}
.forgot-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    padding-left: -8px;
    gap: 4px;
}
#sign-up {
    font-weight: 500;
}

